<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Détails</title>
</head>
<body>

    <form th:object="${voiture}" method="post">
        <p>Id: <input type="text" th:field="${voiture.idMarque}" /></p>
        <p>Genre: <input type="text" th:field="${voiture.libele}" /></p>
        <p>Modele: <input type="text" th:field="${voiture.modele}" /></p>
        <p>Marque: <input type="text" th:field="${voiture.marque}" /></p>

    </form>

</body>
</html>